.personal-area {
  margin: 0 auto;
}

.personal-area__user-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.personal-area__user-link {
  display: block;
  //text-decoration: none;
  color: $lightGray;
  margin-left: 30px;
  background: #f3f2f2;
  padding: 0;
  border: 0;
  outline: none;
  transition: 0.3s;

  &:first-of-type {
    margin-left: 0;
  }
}

.personal-area__user-link_type_city:hover,.personal-area__user-link_type_exit:hover{
  cursor: pointer;
  color: $darkGray;
}
.personal-area__user-link_type_city-text{
  margin-right: 10px;
}


.personal-area__sign-up {
  padding-top: 30px;
  padding-bottom: 50px;
  border-bottom: 1px solid $darkGray;
}

.personal-area__calendar-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 30px;
  // overflow: auto;
  flex-wrap: wrap;
}
.personal-area__calendar-card{
  width: 270px;
  height: 158px;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 30px;
  box-sizing: border-box;
  margin: 0 30px 20px 0;
  flex-shrink: 0;
}
.personal-area__calendar-card-date{
  display: flex;
}
.personal-area__calendar-card-day{
  font-weight: 300;
  font-size: 44px;
  line-height: 50px;
  margin: 0 10px 0 0;
}
.personal-area__calendar-card-month{
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  align-self: flex-start;
  margin: 0;
}
.personal-area__calendar-card-title{
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
}


.button__add-story {
  color: #224cff;
  border-color: #224cff;
}

.personal-area__add-meeting {
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 15px;
  align-items: center;
  max-width: 1170px;
  margin: 20px auto 0;
}

.personal-area__add-meeting-button {
  position: relative;
  padding: 0;
  width: 48px;
  height: 48px;
  border: 1px solid $blue;
  border-radius: 100%;
  outline: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 16.5px;
    width: 1px;
    height: 12px;
    background-color: $blue;
    transform: translateX(-50%);
  }
  &::after {
    content: '';
    position: absolute;
    left: 16.5px;
    top: 50%;
    width: 12px;
    height: 1px;
    background-color: $blue;
    transform: translateY(-50%);
  }
}

.personal-area__meeting-caption {
  color: $blue;
}

.personal-area__title {
  margin: 0 auto;
  max-width: 770px;
  text-align: center;
  color: $lightBlack;
}

.personal-area__story {
  padding-top: 50px;
  padding-bottom: 120px;
}

.personal-area__card {
  padding: 30px 30px 20px;

  &_type_add-photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

// пустая форма
.personal-area__add-photo-button {
  padding: 0;
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../images/svg/personal-area-plus.svg) center no-repeat;
  border: 1px solid $lightGray;
  border-radius: 100%;
  outline: none;
  cursor: pointer;
}

.personal-area__bottom-caption {
  padding-top: 5px;
  color: $lightGray;
}

.personal-area__form {
  width: 100%;
  display: grid;
  gap: 20px 30px;
  grid-template-columns: 1fr minmax(240px, 290px);
  grid-template-rows: auto;
}

.personal-area__form-input {
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 13px 20px 16px;
  background-color: $background;
  font-family: $protoGrotesk;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: $black;

  &::placeholder {
    color: $lightGray;
  }

  &_type_textarea {
    grid-column: 1 / -1;
    min-height: 286px;
    resize: none;
  }

  &[type='date']:not(:focus):not(.has-value):before {
    color: $lightGray;
    content: attr(placeholder);
  }
}

.personal-area__rating {
  display: flex;
  align-items: center;
  position: relative;
}

.personal-area__radio-label {
  position: relative;
  margin-right: 15px;
  width: 26px;
  height: 26px;
}

.personal-area__rate-icon {
  width: 28px;
  height: 28px;
}

.personal-area__rate {
  position: absolute;
  left: 15%;
  top: 15%;
  opacity: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;

  &_type_good {
    background-image: url('../../images/personal-area/good.svg');
  }

  &_type_neutral {
    background-image: url('../../images/personal-area/neutral.svg');
  }

  &_type_bad {
    background-image: url('../../images/personal-area/bad.svg');
  }
}

.personal-area__rate + .personal-area__rate-icon {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
}

.personal-area__rate_type_good:checked + .personal-area__rate-icon {
  background: url('../../images/personal-area/good-active.svg') no-repeat;
}
.personal-area__rate_type_neutral:checked + .personal-area__rate-icon {
  background-image: url('../../images/personal-area/neutral-active.svg');
}
.personal-area__rate_type_bad:checked + .personal-area__rate-icon {
  background-image: url('../../images/personal-area/bad-active.svg');
}

.personal-area__radio-phrase {
  font-family: $ptRootUI;
  font-style: normal;
  font-weight: normal;
  width: 192px;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.2px;
  position: absolute;
  right: -285px;
  bottom: 0;
  color: $lightGray;
}

.personal-area__radio-phrase_type_neutral {
  right: -245px;
}
.personal-area__radio-phrase_type_bad {
  right: -205px;
}

.personal-area__rate_type_good:checked + .personal-area__rate-icon + .personal-area__radio-phrase_type_good {
  color: $green;
}

.personal-area__rate_type_neutral:checked + .personal-area__rate-icon + .personal-area__radio-phrase_type_neutral {

  color: $darkGray;
}

.personal-area__rate_type_bad:checked + .personal-area__rate-icon + .personal-area__radio-phrase_type_bad {
  color: $error;
}

.personal-area__buttons {
  display: flex;
  justify-content: flex-end;
}
.personal-area__delete {
  border: none;
  color: $lightGray;
}

//заполненная карточка
.personal-area__photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.personal-area__date-container {
  display: grid;
  grid-template-columns: 1fr 94px;
  grid-template-rows: auto;
  align-items: start;
}

.personal-area__text-wrap {
  grid-column: 1;
  overflow-wrap: anywhere;
}

.personal-area__card-date {
  grid-column: 2;
}

.personal-area__card-weekday {
  margin: 0;
  width: 100px;
  font-family: $ptRootUI;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
}

.personal-area__card-day {
  margin: 0;
  font-size: 60px;
  text-align: end;
}

.personal-area__actions {
  grid-column: 1 / 3;
  align-self: end;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-area__card-title {
  padding-bottom: 30px;
}

.personal-area__subtitle {
  color: $lightBlack;
  text-align: center;
  padding-bottom: 50px;
}

.personal-area__action-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.personal-area__button {
  padding: 0;
  margin-left: 30px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  color: $lightGray;
}

.personal-area__radio-phrase_type_good_posted {
  right: -205px;
}

@include atDesktop1024 {
  .personal-area__user-info {
    display: none;
  }

  .personal-area__sign-up {
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .personal-area__calendar-wrapper{
    padding: 20px 0 10px;
    flex-wrap: nowrap;
    overflow: auto;
    justify-content: flex-start;
  }
  .personal-area__calendar-wrapper::-webkit-scrollbar{
    width: 0;
    height: 0px;
    background: #f3f2f2;
  }
  .personal-area__calendar-wrapper::-webkit-scrollbar-thumb{
    background: #c9c9c9;
  }
  .personal-area__calendar-wrapper::-webkit-scrollbar-thumb:hover{
    background: #a5a5a5;
  }
  .personal-area__calendar-card{
    width: 205px;
    height: 108px;
    padding: 15px;
    margin: 0 30px 0 0;
  }
  .personal-area__calendar-card-day{
    font-weight: 300;
    font-size: 37px;
    line-height: 39px;
    margin: 0 10px 0 0;
  }
  .personal-area__calendar-card-month{
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
    align-self: flex-start;
    margin: 0;
  }
  .personal-area__calendar-card-title{
    font-weight: normal;
    font-size: 12px;
    line-height: 17px;
  }

  .personal-area__story {
    padding-top: 20px;
    padding-bottom: 50px;
  }

  .personal-area__form {
    grid-template-columns: 1fr;
    gap: 10px;
  }

  .personal-area__buttons {
    justify-content: space-between;
  }

  .personal-area__rating {
    padding: 10px 0 20px;
    width: 100%;
  }

  .personal-area__card {
    padding: 30px 15px;
  }

  .personal-area__text-wrap {
    grid-column: 1 / 3;
  }

  .personal-area__card-title {
    padding-bottom: 75px;
  }

  .personal-area__card-date {
    position: absolute;
    top: 30px;
    right: 15px;
  }

  .personal-area__actions {
    padding-top: 10px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .personal-area__opened-info {
    display: none;
  }

  .personal-area__action-elements {
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
  }

  .personal-area__button {
    margin: 0;
  }

  .personal-area__add-meeting-button {
    width: 40px;
    height: 40px;

    &::before {
      top: 14px;
      height: 10px;
    }

    &::after {
      left: 14px;
      width: 10px;
    }
  }
}
