.rights {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 1fr [first-line] 1px 1fr [second-line] 1px 1fr [third-line] 1px 1fr;
  gap: 80px 0px;
  justify-items: center;

  &_rows_one{
    grid-template-rows: 1fr;
  }
  &_rows_two{
    grid-template-rows: 1fr [first-line] 1px 1fr;
  }
  &_rows_three{
    grid-template-rows: 1fr [first-line] 1px 1fr [second-line] 1px 1fr;
  }
}

.rights__card {
  // max-width: 420px;
  width: 100%;
  flex-direction: row;
  align-items: unset;
  padding: 0;
  overflow: hidden;
}

.rights__rubric {
  margin-top: 17px;
  align-self: center;
}

.rights__line {
  grid-column: 1 / -1;
  background: $black;
  width: 100%;

  &_stage_first {
    grid-row-start: first-line;
  }

  &_stage_second {
    grid-row-start: second-line;
  }

  &_stage_third {
    grid-row-start: third-line;
  }
}

.rights__link {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: auto;
  text-align: center;
  // flex: 1;

  text-decoration: none;
  height: 420px;
}

@include atDesktop1920 {
  .rights {
    grid-template-columns: repeat(3, 1fr);
  }
}

@include atDesktop1639 {
  .rights {
    grid-template-columns: repeat(2, 1fr);
  }

}

@include atDesktop1440 {
  .rights__link{
    height: 370px;
  }
}

@include atDesktop1199 {
  .rights {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr [third-line] 1px 1fr;
  }

  .rights__line {
    &:nth-of-type(-n + 2) {
      display: none;
    }
  }
}

@include atDesktop1024 {
  .rights {
    padding-top: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr [third-line] 1px 1fr;
    gap: 30px;
  }

  // .rights__card {
  //   margin: 0 auto;
  //   max-width: 290px;
  // }
  .rights__link{
    height: 290px;
  }
}

@include atTablet {
  .rights {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr [first-line] 1px 1fr [second-line] 1px 1fr [third-line] 1px 1fr;
    gap: 30px;
  }

  .rights__line {
    &:nth-of-type(-n + 2) {
      display: block;
    }
  }
}

@include atMobile {
  .rights {
    padding-top: 30px;
  }
}
